<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Kayıt Ol</title>
        <link rel="stylesheet" href="/css/signUp.css">
    </head>
    <body>
        <div>
            <p>Kayıt Ol</p>

            <form id="signupForm">
                <input type="text" id="firstName" placeholder="İsim" required>
                <input type="text" id="lastName" placeholder="Soyisim" required>
                <input type="text" id="tc" placeholder="TC. Kimlik Numarası" required>
                <input type="text" id="username" placeholder="Kullanıcı Adı" required>
                <input type="password" id="password" placeholder="Şifre" required>
                <input type="email" id="email" placeholder="E-Posta Adresi" required>
                
                <button type="submit">Kayıt Ol</button>
            </form>
        </div>
        
        <script src="/js/signup.js"></script>


    </body>
</html>




